* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: rgb(4, 40, 59);
  padding-bottom: 10px;
}

body {
  background-color: rgb(1, 1, 46);
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: aqua;
}

#task-form {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

#show-completed {
  display: flex;
  justify-content: center;
  align-items: center;
}

#task-input {
  display: flex;
  justify-content: center;
  align-items: center;
}

#list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#delete-btn {
  background-color: red;
}

#edit-button {
  background-color: greenyellow;
}
